---
layout: default
---

<article class="container mx-auto px-2" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="mt-4 mb-2 clearfix header-text full-width" style="background-image: url({{'/assets/' | append: page.img | prepend: site.baseurl }})">
    <h1 class="h0 inline-block py-2 mt-4 header-title">{{ page.title }}</h1>
    <div class="clearfix mb-4 py-1">
      <div class="col-1 sm-width-full border-top-thick">
      </div>
    </div>
  </div>
  
  <div class="post-thumbnail" style="background-image: url({{'/assets/' | append: page.img | prepend: site.baseurl }})"></div>
  
  <div class="prose py-4" itemprop="articleBody">
      {{ content }}
  </div>
</article>


<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next_has-categories.html %}
</div>
